@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --tranlate-unit: translateX(-50%)
}

/* Utility Classes */
.active {
  z-index: 2;
}
/* Utility Classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('../img/Circuit\ Primary.svg');
  background-position: center center;
  background-size: cover;
}

section {
  width: 60rem;
  height: 35rem;
  
}

section.img-wrapper {
  overflow: hidden; 
  background: white url('../img/front-end.jpg');
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
}

section.tab-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 1rem 1rem;
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
  font-family: raleway, 'sans-serif';
}

section.tab {
  background-color: #eee;
  width: 60rem;
  height: 30rem;
  position: absolute;
  bottom: 0;
  padding: 2rem;
  border-top: none;
}

h2.tab-heading {
  margin: 0 auto 1rem auto;
}

p.lorem {
  font-size: 1.2em;
}

a.title-tab {
  display: block;
  width: 20rem;
  height: 5rem;
  background-color: rgb(115, 221, 115);
  text-decoration: none;
  color: #2b2b2b;
  font-size: 1.5em;
  text-align: center;
  padding: 1rem 3rem;
  border-bottom: none;
  transition: all .3s;
}

a.title-tab:hover {
  background-color: rgb(17, 72, 190);
}

a.title-tab.active {
  background-color: #eee;
}

section.tabs-name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

